<%- include ('header'); -%>
    <div class="container-lg">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">S.no</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Class</th>
                    <th scope="col">Mark (%)</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                <% if(allData.length){
                for(var i = 0; i< allData.length; i++) {%>  
                    
                <tr id= "<%= allData[i]._id%>">
                    <th scope="row"><%= (i+1) %></th>
                    <td><%= allData[i].student_name%></td>
                    <td><%= allData[i].email%></td>
                    <td><%= allData[i].phone_number%></td>
                    <td><%= allData[i].class_opted%></td>
                    <td><%= allData[i].marks%></td>
                    <td>
                        <a href="edit/<%= allData[i].id %>" class="btn btn-primary">Edit</a>
                        <a href="delete/<%= allData[i].id %>" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                <% }
                        
                }else{ %>
                    <tr>
                        <td colspan="7">No Data</td>
                    </tr>
                <% } %>    
            
            </tbody>
        </table>
        <div class="pagination">
            <% if(total){
                for(var i = 1; i<= Math.ceil(total/8); i++) { %> 
                    <li class="page-item"><a class="page-link" href="?pageNo=<%= i %>"><%= i %></a></li>
                <% } %>
            <% } %>
        </div>
    </div>

    <%- include ('footer'); -%>